body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 2s ease-in-out;
    transition: background 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    text-align: center;
    background: rgba(255, 255, 255, 0.25);
    padding: 20px;
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    animation: fadeIn 2s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

h1, #quote-container, #english-quote, #author, #citation, #toggle-sanskrit, #sanskrit-quote {
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 0.75em;
    margin-bottom: 20px;
    color: #fff; /* Change text color to white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

#quote-container {
    margin-bottom: 20px;
}

#english-quote {
    font-size: 2em;
    color: #fff; /* Change text color to white */
    font-family: 'Times New Roman', serif;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

#author, #citation, #toggle-sanskrit, #sanskrit-quote {
    font-size: 0.75em;
    color: #fff; /* Change text color to white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

#toggle-sanskrit {
    background-color: #ffffff00;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

#toggle-sanskrit:hover {
    background-color: #fdfdfd86;
}

#sanskrit-quote {
    font-size: 1.1em;
    color: #fff; /* Change text color to white */
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
